<!-- Footer -->
<footer class="text-center text-dark" style="margin-top: 200px; background-color: #ffe715">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/alan.slhn.1" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://wa.me/6281219923870?text=Hallo,%20Dons" role="button"><i class="fab fa-whatsapp"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/alan_slhn20/" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/alansolihin20" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline mb-4 text-light" style="background-color: #101920">Subscribe</button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
  
 
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-dark text-decoration-none" href="#">Dons</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
