<div class="row">
  <div class="col-md-6 mt-5">
    <h1 class="heading text-center display-2 mt-5">Welcome <i class="bi bi-alexa" style="color: #243b64"></i></h1>
    <p class="mt-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum porro, unde ullam quod possimus cumque quos dolorem sit nam sequi?</p>
    <div class="text-center">
      <a href="/register" class="btn rounded-pill text-light" style="background-color: #243b64; width: 100px">Sign Up</a> <a href="/login" class="btn rounded-pill" style="background-color: #c6e6f0; width: 100px">Sign In</a>
    </div>
  </div>

  <div class="col-md-6"><img src="DrawKit Vector Illustration Sleep & Health (9).png" class="img-fluid" alt="" /></div>
</div>
