<div class="row text-center">
  <div class="col-md-7">
    <p class="display-4 mt-5 text-light">Coding Is <span class="typed-text" style="color: #ffe715; font-weight: bold"></span></p>
    <span class="cursor">&nbsp;</span>

    <div class="text d-flex justify-content-center align-items-center flex-column">
      <p class="display-5 text-light">EXAMPLE CRUD WITH</p>
      <p class="fs-3 text-light">(CREATE, READ, UPDATE, DELETE)</p>
      <p style="color: #ffe715" class="display-4 fw-3">NODE JS EXPRESS EJS MONGODB</p>
    </div>
  </div>

  <div class="col-md-4">
    <img src="Untitled design.png" class="img-fluid mt-5" alt="" />
  </div>
</div>
