<div class="row">
  <div class="col-md-6">
    <img src="DrawKit Vector Illustration Sleep & Health (5).png" class="img-fluid" alt="" />
  </div>
  <div class="col-md-6">
    <h1 class="display-1 mt-5">Hallo User</h1>
    <h1 class="display-5">Please login if you have already registered</h1>
    <a href="/login" class="text-decoration-none">Login Here <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
